@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Poppins:ital,wght@0,400;0,500;1,400&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins, Verdana, sans-serif;
    font-weight: 400;
    color: #251B16;
}

html {
    font-size: 16px;
}

body {
    background-color: #F8FEFF;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Merriweather, Georgia, serif;
    color: #2D231E;
    margin-bottom: 1rem;
}

h1 a {
    font-size: 0.8em;
}

a:link:not(.button), a:visited:not(.button) {
    font-weight: 500;
    color: #9B422C;
    text-decoration: none;
}

a:hover:not(.button) {
    text-decoration: underline;
}

#loginPageContainer {
    display: flex;
    justify-content: center;
}

#loginForm {
    width: 400px;
    margin-top: calc(10vh - 1rem);
    padding: 1rem;
}

#loginForm img {
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

#loginForm h1 {
    text-align: center;
}

#loginForm form {
    width: 90%;
    margin: 0 auto;
}

label {
    display: block;
    padding-left: 0.125rem;
}

label.required::before {
    content: "\002A";
    color: #E62314;
}

input[type=text], input[type=password] {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.3rem;
    font-size: 0.9rem;
    color: #251B16;
    background-color: #FFFFFF;
    border: 1px solid #929FA9;
    border-radius: 5px;
}

input[type=text]::placeholder {
    color: #555555;
}

input[type=text]:focus, input[type=text]:hover,
input[type=password]:focus, input[type=password]:hover,
input[type=checkbox]:focus, input[type=checkbox]:hover,
input[type=radio]:focus, input[type=radio]:hover {
    border-color: #251B16;
    outline: none;
}

input[type=checkbox], input[type=radio] {
    appearance: none;
    display: grid;
    place-content: center;
    width: 1.25rem;
    height: 1.25rem;
    background-color: #FFFFFF;
    border: 1px solid #929FA9;
    cursor: pointer;
}

input[type=checkbox] {
    border-radius: 5px;
}

input[type=radio] {
    border-radius: 50%;
}

input[type=checkbox]::before, input[type=radio]::before {
    content: "";
    width: calc(1.25rem - 2px);
    height: calc(1.25rem - 2px);
    background-color: #9B422C;
    opacity: 0;
    transform: scale(0);
    transition: transform 0.25s, opacity 0.125s;
}

input[type=checkbox]::before {
    clip-path: polygon(42% 68%, 75% 10%, 92% 20%, 49% 95%, 7% 71%, 18% 53%);
    transform-origin: bottom left;
}

input[type=radio]::before {
    clip-path: circle(32%);
    transform-origin: center;
}

input[type=checkbox]:checked::before, input[type=radio]:checked::before {
    opacity: 1;
    transform: scale(1);
}

.inputWithLoader {
    position: relative;
    margin-bottom: 0.5rem;
}

.inputWithLoader input {
    margin-bottom: 0;
}

.loaderContainer {
    position: absolute;
    top: 1px;
    right: 1px;
    height: calc(100% - 2px);
    padding: 0.3rem;
    padding-left: 0.6rem;
    background: linear-gradient(to right, transparent 0%, #FFFFFF 0.3rem, #FFFFFF 100%);
    border-radius: 0 5px 5px 0;
    display: none;
}

.loader {
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top: 4px solid #9B422C;
    animation: spin 0.75s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0); }
    100% { transform: rotate(1turn); }
}

.searchContainer {
    position: relative;
}

.searchMatchesContainer {
    position: absolute;
    width: 100%;
    padding-bottom: 2rem;
    display: none;
}

.searchMatchesScrollContainer {
    background-color: #FFFFFF;
    border: 1px solid #929FA9;
    border-radius: 5px;
    overflow: hidden;
}

.searchMatches {
    max-height: 200px;
    overflow-y: auto;
}

.searchMatches div {
    padding: 0.3rem;
    font-size: 0.9rem;
    font-weight: 500;
    color: #9B422C;
    cursor: pointer;
    border-bottom: 1px solid #929FA9;
}

.searchMatches div:hover {
    text-decoration: underline;
}

.searchMatches div:last-child {
    border-bottom: none;
}

.selectionContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.selectionContainer:has(*) {
    margin-bottom: 0.5rem;
}

.selection {
    padding: 0 0.3rem;
    background: #F8FEFF;
    border: 1px solid #929FA9;
    border-radius: 5px;
}

.buttonContainer {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.buttonContainer > * {
    flex: 1;
}

.button, input[type=submit] {
    padding: 0.4rem;
    font-size: 0.9rem;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    cursor: pointer;
}

.button {
    background-color: #EFEFEF;
    border-color: #C2C4C5;
}

.button:hover {
    background-color: #FFFFFF;
}

.button.destructive {
    background-color: #CBCBCB;
    border-color: #919191;
}

.button.destructive:hover {
    background-color: #EFEFEF;
}

input[type=submit] {
    color: #FFFFFF;
    background-color: #893723;
    border-color: #5D2612;
}

input[type=submit]:hover {
    background-color: #9B422C;
}

.message {
    display: flex;
    margin-bottom: 1rem;
    padding: 0.3rem;
    font-size: 0.8rem;
    font-weight: 500;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}

.message span {
    font-weight: inherit;
    color: inherit;
}

.message.success::before {
    content: "\2714\00A0";
}

.message.success {
    background-color: #E7FFC6;
    border-color: #AAE36E;
    color: #2B4F12;
}

.message.error::before {
    content: "\274C\00A0";
}

.message.error {
    background-color: #FFC3C3;
    border-color: #FF8585;
    color: #972525;
}

.message.info::before {
    content: "\2139\FE0F\00A0";
}

.message.info {
    background-color: #D8E8FF;
    border-color: #B1CCFF;
    color: #2550A3;
}

#topBar {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 2rem;
    background-color: #FFFFFF;
    border-bottom: 2px solid #5D2612;
    z-index: 1;
}

#topBarLogo, #topBarLogo img {
    height: 100%;
    display: block;
}

#menuButton {
    width: 35px;
    cursor: pointer;
}

#menuButton div {
    width: 100%;
    height: 5px;
    margin: 5px 0;
    background-color: #9B422C;
    border-radius: 3px;
    transition: transform 0.25s, opacity 0.125s;
}

#menuButton.active div:nth-of-type(1) {
    transform: translate(0, 10px) rotate(-45deg);
}

#menuButton.active div:nth-of-type(2) {
    opacity: 0;
}

#menuButton.active div:nth-of-type(3) {
    transform: translate(0, -10px) rotate(45deg);
}

#topBarUserInfo {
    line-height: 21px;
    text-align: right;
}

#menu {
    position: fixed;
    top: 50px;
    width: 100%;
    height: calc(100vh - 50px);
    padding: 2rem;
    gap: 4rem;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    overflow: auto;
    opacity: 0;
    transition: opacity 0.25s;
    z-index: 1;
}

#menu.active {
    opacity: 1;
}

#menu ul {
    list-style-type: none;
    padding-left: 0.25rem;
}

#content {
    position: fixed;
    top: 50px;
    width: 100%;
    height: calc(100vh - 50px);
    padding: 2rem;
    overflow: auto;
    z-index: 0;
}

#content > .sectionContainer, #content form > .sectionContainer {
    margin-bottom: 1rem;
}

#content > *:last-child, #content form > *:last-child {
    margin-bottom: 0;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.toolbar.bottom {
    border-top: 1px solid #DADFE3;
    padding-top: 1rem;
}

.toolbar.singleAction {
    justify-content: right;
}

.inputContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.inputContainer input {
    margin-top: -1px;
}

.inputContainer label {
    padding-left: 0;
    cursor: pointer;
}

.sectionContainer {
    display: flex;
    gap: 1rem;
}

.sectionContainer.column {
    flex-direction: column;
}

.section {
    background: #FFFFFF;
    border: 1px solid #929FA9;
    border-radius: 5px;
    padding: 1rem;
}

.section.full {
    flex: 1;
}

.sectionContainer.wide, .section.wide {
    flex: 1.618 1 0;
}

.sectionContainer.narrow, .section.narrow {
    flex: 1 1 0;
}

.section > *:last-child {
    margin-bottom: 0;
}

.flexLayout {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;
}

.flexLayout > div > *:last-child {
    margin-bottom: 0;
}

.noBottomMargin {
    margin-bottom: 0;
}

p {
    margin-bottom: 1rem;
}

b {
    font-weight: 500;
}

ul {
    list-style-position: inside;
}

table {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #929FA9;
    border-radius: 5px;
    border-spacing: 0;
    margin-bottom: 1rem;
    text-align: left;
    overflow: hidden;
}

tr:nth-child(even) {
    background-color: #F6F7F8;
}

th, td {
    padding: 1rem;
}

th {
    font-weight: 500;
}

th.summary, td.summary {
    display: none;
}

td.action {
    text-align: right;
}

.statusContainer {
    margin-bottom: 0.5rem;
}

.status {
    padding: 0.3rem;
    font-size: 0.8rem;
    font-weight: 500;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    text-transform: uppercase;
}

.status.active {
    border-color: #2B4F12;
    color: #2B4F12;
}

.status.inactive {
    border-color: #972525;
    color: #972525;
}

@media only screen and (max-width: 1000px) {
    th.optional, td.optional {
        display: none;
    }

    .sectionContainer {
        flex-direction: column;
    }
}

@media only screen and (max-width: 600px) {
    #loginForm {
        margin-top: 0;
        width: 100%;
    }

    #loginForm img {
        width: 40%;
    }

    #loginForm form {
        width: 100%;
    }

    .buttonContainer {
        flex-direction: column-reverse;
    }

    .successMessage, .errorMessage {
        width: 100%;
    }

    #topBar {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #menu {
        padding: 1rem;
        gap: 2rem;
    }

    #content {
        padding: 1rem;
    }

    .toolbar {
        flex-direction: column-reverse;
        align-items: stretch;
    }

    tr:first-child {
        display: none;
    }

    tr:nth-child(even) {
        background-color: #FFFFFF;
    }

    tr:nth-child(odd) {
        background-color: #F6F7F8;
    }

    td.summary {
        display: table-cell;
    }

    td:not(.summary) {
        display: none;
    }

    .flexLayout {
        flex-direction: column;
    }

    .searchMatchesContainer {
        padding-bottom: 1rem;
    }
}